body {
    color: #090a15;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

@font-face {
    font-family: 'Rubl';
    src: url('../fonts/rouble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.rubl {
    font-family: 'Rubl', serif;
    font-weight: 100;
}

input {
    outline: none;
}

.fa, .fas {
    font-size: 80%;
}

.bs-tooltip-top {
    z-index: 1;
}

#basket a {
    display: flex !important;
    align-items: center;
}

.container-fluid {
    max-width: 1630px;
}

a {
    outline: 0 !important;
}

.main-bgcolor {
    background-color: #da2730;
}

.main-fcolor {
    color: #da2730 !important;
}

.c-white {
    color: white !important;
}

.heading {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -0.025em;
    margin-bottom: 50px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fw-t {
    font-weight: 300;
}

.fw-m {
    font-weight: 500;
}

.fw-b {
    font-weight: 700;
}

.fw-r {
    font-weight: 400;
}

.pt-100 {
    padding-top: 90px;
}

.pb-100 {
    padding-bottom: 90px;
}

.grey_block {
    padding: 70px 0;
    background-color: #f6f6f6;
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 0;
    width: 30px;
    height: 2px;
    background-color: white;
}

.owl-theme .owl-dots .owl-dot.active span {

    background-color: #da2730 !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: white;
}

.owl-theme .owl-dots .owl-dot.active:hover span {
    background-color: #da2730;
}

.owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

.bor-r10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#modalBasket .modal-dialog {
    max-width: 1600px;
}

#modalBasket {
    padding-right: 0 !important;
}

.modal-content {
    border: 0;
}

#modalBasket .modal-content {
    border-radius: 0;
}

#modalBasket .content {
    padding-top: 42px;
    /*padding-bottom: 60px;*/
    max-width: 1280px;
    margin: auto;
}

#modalBasket .content-bottom {
    max-width: 1280px;
    letter-spacing: 0.05em;

    margin: auto;
}

#modalBasket .content-bottom .total-sum {
    text-align: right;
    color: #090a15;
    font-size: 30px;
    position: relative;
    top: -3px;
}

#modalBasket .content-bottom .sum {
    width: 140px;
    color: #090a15;
    font-size: 30px;
    text-align: right;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

#modalBasket .items .item {
    padding: 26px;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

#modalBasket .items .item + .item {
    margin-top: 20px;
}

.error_input {
    box-shadow: inset 0px 0px 0px 1px rgb(255, 0, 0) !important;
}

#modalBasket .items .item .i {
    position: relative;
    top: -5px;
    letter-spacing: 0.05em;
}

#modalBasket h2 {
    margin-bottom: 58px;
    letter-spacing: 0.05em;
}

#modalBasket .item .type {
    color: #959597;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
}

.call_modal {
    background: #fff;
    z-index: 2;
    border-top: 1px solid #ccc;
    margin: 10px 15px;
    display: none;
}

.call_modal_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a.city__item {
    color: #090a15;
    display: block;
}

a.city__item.active {
    color: #da2730;
}

a.city__item:hover {
    color: #da2730;
    text-decoration: none;
}

#modalBasket .item .value {
    font-size: 29px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalBasket .item .price .value img {
    height: 11px;
    position: relative;
    left: -4px;
    top: 3px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: #fff;
    -webkit-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.11);
    -moz-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.11);
    box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.11);
}

.mobile .header-top > span {
    border-bottom: 1px solid #ccc;
}

.col-auto {
    max-width:100%;
}

.mobile .header-top {
    margin-bottom: 15px;
}

#modalBasket .content .items .row {
    align-items: center;
}

.flex-input-form {
    margin-bottom: 13px;
    display: inline-flex;
    flex-wrap: wrap;
}

input[type="text"], input[type="tel"], input[type="password"] {
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    padding: 14px;
    background: #fff;
    font-size: 14px;
    width: 228px;
    border: 0;
    margin-bottom: 19px;
    border-radius: 10px;
}

.oplata-method {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.flex-oplata {
    font-size: 14px;
    display: flex;
    width: 516px;
    justify-content: space-around;
}

.comment-flex {
    width: 490px !important;
    height: 144px;
    padding-bottom: 103px;
    margin-bottom: 14px;
    margin-left: 261px;
}

.calendar .nav-item {
    cursor: pointer;
    margin-right: 3px;
}

.item-shop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-shop div {
    padding: 0 10px;
}

.shiping-info {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 19px;
    text-align: center;
    line-height: 18px;
    position: relative;
    top: -40px;
}

.item-shop .image img {
    width:200px;
}

header nav.mobile > div, header nav.mobile > div:first-child {
    width: 100%;
}

#modalCallback {
    letter-spacing: 0.05em;
    text-align: center;
}

.modal-dialog {
    margin: 0 auto;
}

#modalCallback .modal-dialog {
    width: 360px;
    max-width: 100%;
}

#modalCallback .modal-content {
    border-radius: 0;
    border: 0;
}

#modalCallback .modal-body {
    padding: 0;
}

#modalCallback .modal-body h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 15px;
}

#modalThanks .modal-body h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#modalCallback .modal-body h5 {
    width: 150px;
    font-weight: 300;
    font-size: 14px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 17px;
}

#modalThanks .modal-body h5 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 17px;
}

#modalCallback a {
    display: block;
    padding: 14px;
    background: #da2730;
    font-size: 14px;
    width: 228px;
    margin: auto;
    border: 0;
    margin-bottom: 70px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    border-radius: 10px;
    text-align: center;
}

#modalCallback a:hover {
    text-decoration: none;;
}

#modalThanks a {
    display: block;
    padding: 14px;
    background: #da2730;
    font-size: 14px;
    width: 228px;
    margin: auto;
    border: 0;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    border-radius: 10px;
    text-align: center;
}

#modalThanks a:hover {
    text-decoration: none;;
}

.flex-input-form input[name="address"] {
    height: 75px;
}

#modalContact {
    letter-spacing: 0.05em;
    text-align: center;
}

#modalContact .modal-dialog {
    width: 360px;
    max-width: 100%;
}

#modalContact .modal-content {
    border-radius: 0;
    border: 0;
}

#modalContact.modal-body {
    padding: 0;
}

#modalContact .modal-body h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 15px;
}

#modalContact .modal-body h5 {
    width: 150px;
    font-weight: 300;
    font-size: 14px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 17px;
}

#modalContact .phone {
    margin-bottom: 20px;
}

#modalContact .call-order {
    margin: auto;
}

/*#modalContact a{*/
/*display: block;*/
/*padding: 14px;*/
/*background: #da2730;*/
/*font-size: 14px;*/
/*width: 228px;*/
/*margin: auto;*/
/*border: 0;*/
/*margin-bottom: 70px;*/
/*color:white;*/
/*font-family: 'Roboto Slab', serif;*/
/*font-weight: 300;*/
/*}*/

/*HEADER*/

.slider.black {
    color: #000;
}

.slider.white {
    color: #fff;
}

header {
    letter-spacing: 0.03em;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav > span {
    display: flex;
    justify-content: space-evenly;
    /*flex-wrap:wrap;*/
    align-items: center;
    flex: 2;
}

header .logo {

}

header .city-select:hover {
    text-decoration: none;
    color: #da2730;
}

.phone {
    font-size: 14px;
    color: black;
}

.call-order {
    /*box-shadow: 0 0 47px 0 rgba(218, 39, 48, 0.5);*/
    /*border-radius: 10px;*/
    /*line-height: 20px;*/
    max-width: 164px;
    margin-right: auto;

}
.call-order:hover {
    background-color: #c4121b !important;
}

.owl-stage_full {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

header .mobile .social {
    margin: 0;
}

.mobile .call-order {
    margin-right: 0;
}

.call-order a {
    font-family: 'Roboto Slab', serif;
    color: white;
    line-height: 19px;
}

header nav.mobile {
    display: block;
}

header nav.mobile > div {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

header nav.mobile > div > span {
    display: flex;
    /*flex-wrap:wrap;*/
    flex: 2;
    text-align: center;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}

header nav.mobile {
    display: none;
}

header nav.mobile > div.header-top > span {
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
}

.header.scroll nav.mobile > div.header-top > span {
    padding-bottom: 5px;
}

.header.scroll .mobile .header-top {
    margin-bottom: 5px;
}

header nav.mobile .modal-contact {
    display: none;
    border: 1px solid #da2730;

    background-color: white;

    border-radius: 100%;

    height: 55px;

    width: 55px;
}

header nav.mobile .modal-contact img {
    height: 30px;

    width: 30px;

    position: relative;

    top: 7px;

    left: -4px;
}

header nav.mobile > div.header-top > span:first-of-type:after,
header nav.mobile > div.header-top > span:last-of-type:before {
    content: '';
    display: none;
}

.call-order a:hover {
    text-decoration: none;
}

header .phone {
    font-size: 14px;
    color: black;
    order: 1;
}

header .social span {
    margin-right: 5px;
}

header .social span:last-child {
    margin-right: 0;
}

header nav .social {
    margin: auto;
}

#basket {
    border: 1px solid #da2730;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #da2730;
    border-left: 0;
    border-radius: 15px;
    border-top-left-radius: 20px;
    position: relative;
    border-bottom-left-radius: 20px;
    font-size: 12px;
    font-weight: 400;
    min-width: 146px;
}

input[name="address"] {
    width: 490px !important;
    max-width: 100% !important;
}

#basket .icon {
    width: 33px;
    height: 33px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#basket .icon img {
    padding-top: 5px;

}

#basket .text {
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 5px;
    transition: color 0.6s;
}

#basket:hover .text {
    color: white;
}

#basket .text .main-fcolor {
    transition: color 0.6s;

}

#basket:hover .text .main-fcolor {
    color: white !important;
}

#basket:hover .h-bgc {

    width: 94%;

}

.number-days. .btn-group {
    margin-top: 5px;
}

header .h-bgc {
    background-color: #da2730;
    background-color: #da2730;

    left: 10px;
    top: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    -webkit-transition-property: width, background;
    -o-transition-property: width, background;
    transition-property: width, background;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    border-radius: 0px 10px 10px 0px;
}

#basket .count {
    position: absolute;
    background-color: white;
    bottom: -9px;
    padding-top: 2px;
    width: 20px;

    height: 20px;

    border-radius: 50%;

    text-align: center;

    left: 16px;

    font-size: 12px;
}

.header {
    padding: 35px 20px;
}

/*FOOTER*/
footer {
    background-color: #f6f6f6;
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

footer div {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer div span:first-child {
    margin-right: 12px;
}

/*FOOTER*/

/*SLIDER*/
.slider {
    font-family: 'Roboto Slab', serif;
    /*background-image: url('../img/slides/slide-1.png');*/
    padding-top: 100px;
    padding-bottom: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

}

.slider .container-fluid {
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    max-width: 1740px;
}

.slider .wrap {
    padding-right: 65px;
    padding-left: 65px;
}

.slider h1 {
    color: #000004;
    font-size: 70px;
    font-weight: 400;
}

.slider h2 {
    color: #000004;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
}

.slider .go-to-menu {
    display: inline-block;
    background-color: #da2730;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    padding: 15px 35px 14px;
    /*-webkit-box-shadow: 0 0 10px 0 rgba(218, 39, 48, 1);*/
    /*-moz-box-shadow: 0 0 10px 0 rgba(218, 39, 48, 1);*/
    /*box-shadow: 0 0 10px 0 rgba(218, 39, 48, 1);*/
    /*box-shadow: 0 0 68px 0 rgba(218, 39, 48, 0.8);*/
    margin-bottom: 300px;
    position: relative;

}

.slider .go-to-menu:hover {
    text-decoration: none;
}

.slider ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    bottom: 100px;
    left: 15px;
    z-index: 1000;
    padding-left: 55px;
}

.slider ul li {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.header .current-city {
    display: flex;
    align-items: center;
}

.header .current-city span {
line-height: 17px;
}

.header .current-city a {
    margin-left: 5px;
}

.slider ul li:hover {
    cursor: pointer;
}

.phone div:first-of-type {
    font-weight: 400;
}

.slider:after {
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.05s;
}

/*SLIDER*/

/*INSTRUCTION*/

.instruction .steps-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 56px;
}

.instruction .owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}

.instruction .step .num span {
    font-size: 100px;
    color: #da2730;
    vertical-align: middle;
    font-weight: 500;
    position: absolute;
    left: -82px;
    top: -11px;
    letter-spacing: -0.09em;
}

.instruction .steps-wrap .step:first-child .num span {
    left: -76px;
}

.instruction .step {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.instruction .step .num {
    position: relative;
    margin: auto;
    width: 130px;
    margin-bottom: 25px;
}

.instruction .step:after {
    content: url(../img/Стрелка1.png);
    position: absolute;
    z-index: 1000;
    right: -3.5vw;
    top: 23%;
}

.instruction .step:last-child:after {
    display: none;
}

.instruction h5 {
    font-weight: 400;
    font-size: 20px;
}

.instruction .step .num img {
    position: relative;
    /*left: -19px;*/
}

.instruction .step .info {
    font-size: 20px;
    width: 280px;
    font-weight: 300;
    margin: auto;
}

.instruction .owl-carousel {
    display: none;
    margin-top: 56px;
    margin-bottom: 56px;
}

.instruction .owl-theme .owl-dots span {
    background-color: black;
}

/*INSTRUCTION*/

/*PARTNERS*/
.partners .owl-carousel {
    margin-top: 70px;
}

.partners .item {
    text-align: center;
}

.partners .owl-carousel .owl-item img {
    width: auto;
    margin: auto;
    max-width:100%;
}

/*PARTNERS*/

/*SELECT MENU*/
.menus-wrap {
    letter-spacing: 0.05em;
}

.menus-wrap > div.wrap {
    text-align: center;
}

.menus-wrap nav {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.menus-wrap nav .nav-link {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: white;
    color: #090a15;
    border-radius: 0;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 314px;
    text-align: center;
    line-height: 25px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.menus-wrap nav .nav-link:first-child {
    margin-left: 0;
}

.menus-wrap nav .nav-link:last-child {
    margin-right: 0;
}

.menus-wrap .nav-tabs {
    border-bottom: none;
    margin-bottom: 60px;
    border-radius: 10px;
    /*background-color: white;*/
}

.menus-wrap nav .nav-link:hover {
    background-color: rgba(255, 45, 55, 0.15);
}

.menus-wrap nav .nav-link.active {
    background-color: white;
    color: #da2730;
    box-shadow: none;
    z-index: 1000;
    border: 1px solid;
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.menus-wrap .menu {
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
    margin-bottom: 70px;
    /*background-color: white;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.menus-wrap .menu .image-wrap img {
    width: 100%;
}

.menus-wrap .menu .image-wrap div {
    text-align: center;
}

.menus-wrap .menu .image-wrap {
    object-fit: cover;
    -webkit-flex-shrink: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 507px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 65px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
}

.menus-wrap .menu .image-wrap.mob {
    display: none;
    object-fit: cover;
    max-width: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 60px;
    line-height: 65px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.05em;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
    height: 200px;
    align-items: center;
}

.menus-wrap .menu .content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-flex-shrink: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: 490px;
}

header nav > span:nth-of-type(2) > div:nth-of-type(2) {
    margin: auto;
}

header nav > span:nth-of-type(2) > div:nth-of-type(1) {
    margin-left: auto;
}

.menus-wrap .menu .content .name {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

.menus-wrap .menu .content .callories label {
    font-family: 'Roboto Slab', serif;
    /*margin-right: 25px;*/
    border-radius: 10px !important;
    border: none;
    background-color: white;
    color: black;
    font-weight: 300;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin: 0 3px;
    margin-bottom: 15px;
    min-width: 119px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.menus-wrap .menu .content .callories label:last-child {
    margin-right: 0;
}

.menus-wrap .menu .content .callories {
    margin-bottom: 4px;
}

.menus-wrap .callories .btn-group {
    display: flex;
    flex-wrap: wrap;
}

.menus-wrap .menu .content .callories label span:first-of-type {
    font-size: 20px;
}

.menus-wrap .menu .content .number-days label span {

}

.menus-wrap .menu .content .callories label.active {
    background-color: white;
    color: #da2730;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #da2730;
    border: 1px solid #da2730;
    padding-top: 5px;
    padding-bottom: 4px;
}

.menus-wrap .menu .content .number-days {
    margin-bottom: 15px;
}

.menus-wrap .menu .content .number-days .text {
    vertical-align: middle;
    font-size: 15px;
    font-weight: 300;
    margin-right: 13px;
}

.menus-wrap .menu .content .number-days label {
    font-family: 'Roboto Slab', serif;
    margin-right: 9px;
    border-radius: 10px !important;
    border: none;
    background-color: white;
    color: black;
    font-weight: 300;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 27px;
    height: 27px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus-wrap .menu .content .number-days label:last-child {
    margin-right: 0;
}

.menus-wrap .menu .content .number-days label span {
    vertical-align: middle;
    left: 1px;
    position: relative;
}

.menus-wrap .menu .content .number-days label.active {
    background-color: white;
    color: #da2730;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #da2730;
}

.menus-wrap .menu .content .day-more {
    font-size: 14px;
    font-weight: 300;
    min-height: 160px;
    margin-bottom: 2px;
}

.menus-wrap .menu .content .day-more .text {
    margin-bottom: 10px;
}

.menus-wrap .menu .content .day-more ul {
    color: #959597;
    font-size: 14px;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    font-weight: 300;
    margin-bottom: 0;
}

.menus-wrap .menu .content .day-more ul li {
    margin-bottom: 0px;
    line-height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.menus-wrap .menu .content .day-more ul li .count {
    display: inline-block;
    width: 77px;
    flex-shrink: 0;
}

.menus-wrap .menu .content .day-more ul li + li {
    margin-top: 5px;
}

.menus-wrap .menu .content .day-more ul li svg {
    flex-shrink: 0;
}

.menus-wrap .menu .content .day-more ul li .type {
    margin-left: 13px;
}

.menus-wrap .menu .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menus-wrap .menu .price > div {
    display: inline-block;
    vertical-align: middle;
}

.menus-wrap .menu .price .num {
    font-size: 40px;
    font-weight: 300;
    padding-top: 3px;
    display: flex;
    align-items: baseline;
}

.menus-wrap .menu .price .inday {
    color: #959597;
    font-size: 14px;
    font-style: italic;
    position: relative;
    top: -6px;
}

.menus-wrap .menu .price .add-to-cart {
    color: white;
    /*box-shadow: 0 0 50px 0 rgba(218, 39, 48, 0.6);*/
    display: inline-block;
    height: 46px;
    border-radius: 10px;
    position: relative;
    top: -2px;
}

.menus-wrap .menu .price .add-to-cart a {
    padding-top: 11px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-left: 43px;
    padding-right: 43px;
}

.menus-wrap .menu .price .add-to-cart a span {
    vertical-align: middle;
    margin-left: 22px;
}

.menus-wrap .menu .content-calendar .price {
    display: none;
}

.select-menu {
    padding-bottom: 1px;
}

.select-menu .calendar .nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 300;
    padding: 7px;
    font-family: 'Roboto Slab', serif;
    color: #090a15;

}

.select-menu .calendar .nav-tabs .nav-link.active {
    color: #da2730;
    box-shadow: none;
}

.select-menu .content-calendar {
    padding-right: 25px;
    padding-bottom: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 603px;
    padding-top: 25px;
    margin: 0 auto;
}

.select-menu .content-calendar .calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-menu .calendar .nav-tabs .nav-item.show .nav-link, .select-menu .calendar .nav-tabs .nav-link.active {
    border: 1px solid #da2730;
    padding: 6px;
}

.select-menu .calendar .nav-tabs .nav-link:focus, .select-menu .calendar .nav-tabs .nav-link:hover {
    /*border:none;*/
}

.select-menu .calendar .nav-tabs .nav-link {
    border: none;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-radius: 10px;
    padding: 7px;
}

.menus-wrap .calendar .nav-tabs {
    display: flex;
    margin-bottom: 10px;
}

.select-menu .calendar .day > div.active {
    display: flex;
    flex-wrap: wrap;
}

.select-menu .calendar .day > div.active {
    justify-content: flex-start;
}

.select-menu .calendar .day > div > div {
    margin-bottom: 10px;
    position: relative;
    width: 180px;
    height: 180px;
    margin-right: 10px;
}

.select-menu .calendar .day > div > div > img {
    width: 100%;

}

.select-menu .calendar .day > div > div .hover {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
}

.select-menu .calendar .day > div > div .hover p {
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
}

.select-menu .calendar .day > div > div .hover p:first-child {
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}

.select-menu .calendar .day > div > div:hover .hover {

    display: block;
}

.select-menu .calendar .week-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.select-menu .calendar .week-btn a:hover {
    text-decoration: none;
}

.select-menu .calendar .week-btn .prev-week a, .select-menu .calendar .week-btn .next-week a {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.not_have a {
    color: #959597 !important;
}

.arrow_slide {
    background: url('../img/Стрелка влево.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 4px;
    height: 14px;
    position: relative;
    top: 2px;
}

div:not(.not_have) > a:hover .arrow_slide {
    background: url('../img/Стрелка вправо.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 4px;
    height: 14px;
    position: relative;
    top: 2px;
}

div:not(.not_have) > a .right {
    transform: rotate(180deg);
}

.right {
    margin-left: 10px;
    transform: rotate(180deg);
}

.left {
    margin-right: 10px;
}

div:not(.not_have) > a:hover .left {
    transform: rotate(180deg);
}

div:not(.not_have) > a:hover .right {
    transform: rotate(0deg);
}

.select-menu .calendar .week-btn .prev-week, .select-menu .calendar .week-btn .next-week {
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    padding: 8px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 165px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide_page .select-menu .calendar .week-btn .prev-week, .hide_page .select-menu .calendar .week-btn .next-week {
    display: none;
}

.select-menu .calendar .week-btn .prev-week img {
    margin-right: 20px;
}

.select-menu .calendar .week-btn .next-week img {
    margin-left: 20px;
}

.menus-wrap .menu > div {
    display: flex;
    justify-content: center;
}

.btn-wrap a {
    color: black;
}

.btn-wrap a.active {
    color: #da2730;
}

.btn-wrap label span {
    font-family: 'Roboto Slab', serif;
    margin-right: 16px;
    border-radius: 0 !important;
    border: none;
    background-color: white;
    color: black;
    font-weight: 100;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 11px;
    height: 11px;
    display: inline-block;

}

.btn-wrap .mid {
    width: 108px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.btn-wrap .mid a {
    display: inline-block;
    width: 16px;
    height: 7px;
    background-color: white;
    position: relative;
    top: 1px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.btn-wrap .mid a.active {
    height: 7px;
    border: 1px solid #da2730;
    box-shadow: none;
}

/*SELECT MENU*/

/*FEEDBACK*/
.feedback {

}

.feedback .owl-carousel .owl-item img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 670px;
}

.feedback .wrap {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.feedback .feedback-wrap {
    /*max-width: 1600px;*/
    /*margin: auto;*/
}

.feedback .item {
    /*display: flex;*/
}

.feedback .item > div {
    padding-left: 0;
    padding-right: 0;
}

.feedback .item .row > div {
    align-self: center;
}

.feedback .owl-theme .owl-dots .owl-dot span {
    background-color: black;
}

.feedback .owl-theme .owl-dots {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0 !important;
}

.feedback .item .img-compare-wrap {
    /*display: flex;*/
    max-height: 670px;
    padding-right: 90px;
    text-align: center;
}

.feedback-wrap .images-compare-container {
    width: 100%;
}

.feedback .item .about {

    padding-left: 80px;
}

.feedback .item .about .name {
    font-size: 50px;
    font-weight: 300;
    line-height: 70px;
}

.feedback .item .about .add-info {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
}

.feedback .item .about .type, .feedback .item .about .result {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
}

.feedback .item .about .type span, .feedback .item .about .result span {
    font-size: 20px;
    font-weight: 400;
    margin-left: 5px;
}

.feedback .item .about .result {
    margin-bottom: 20px;
}

.feedback .item .about p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.feedback .images-compare-label {
    display: none;
}

/*FEEDBACK*/

.bgc-lightgrey {
    background-color: #f6f6f6 !important;
}

.kitchen {
    position: relative;
}

.workers {
    margin-top: 70px;
}

.workers .item .img-i {
    -o-object-fit: cover;
    object-fit: cover;
    height: 150px;
    width: 150px;
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 20px;
}

.workers .item .row > div {
    width: 33.333%;
    margin-bottom: 30px;
}

.workers .item .img-i img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 150px;
    height: 150px;
    -o-object-position: -50px 5px;
    object-position: -50px 0px;
}

.workers .item {
    margin-bottom: 30px;
    padding: 20px 0;
}

.workers .item h3 {
    font-size: 20px;
}

.r-l {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.workers .item h4 {
    font-size: 14px;
}

.c-gold {
    color: #da2730 !important;
    font-weight: 400 !important;
}

.r-r {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.workers .item p {
    font-size: 14px;
    margin-bottom: 0;
}

.kitchen .owl-carousel {
    height: 450px;
    width: 100%;
    top: 0;
}

.kitchen .owl-carousel img {
    max-height: 450px;
    min-height: 450px;
    object-fit: cover;
}

.kitchen .owl-carousel .owl-dots {
    position: relative;
    top: -80px;
}

.mobile #basket {
    order: 1;
}

.kitchen .item .row {
    margin: 0;
}

.order-form {
    margin-left: 10%;
}

.order-form .field {
    width: 258px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

.order-form input[type="text"], .order-form input[type="tel"] {
    text-align: left;
    width: 220px;
    max-width: 100%;
    padding-left: 24px;
    font-family: 'Roboto Slab', serif;
    margin-right: 10px;
}

a.buy {
    display: inline-block;
    background-color: #da2730;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    padding: 15px 30px;
    margin-top: 30px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.close:focus, .close:hover {
    color: #da2730;
}

a.buy:hover {
    text-decoration: none;
    background-color: #c4121b !important;
}

@media only screen and (max-width: 1600px) {
    .menus-wrap .menu .image-wrap {
        font-size: 52px;
        line-height: 56px;
    }
}

@media only screen and (max-width: 1540px) {
    .menus-wrap .menu .image-wrap {
        font-size: 46px;
        line-height: 52px;
    }

}

@media only screen and (max-width: 1480px) {
    .menus-wrap .menu .image-wrap {
        font-size: 40px;
    }

}

@media only screen and (max-width: 1440px) {
    .menus-wrap .menu .image-wrap {
        font-size: 34px;
        line-height: 42px;
    }

}

@media only screen and (max-width: 1400px) {
    .instruction .steps-wrap {
        display: none;
    }

    .instruction .owl-carousel {
        display: block;
    }
}

@media only screen and (max-width: 1400px) {
    header nav {
        display: none;
    }

    header nav.mobile {
        display: block;
    }
    .header {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .header.scroll {
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 1400px) {
    .menus-wrap .menu .image-wrap {
        display: none;
    }

    .menus-wrap .menu .image-wrap.mob {
        display: flex;
    }

    .menus-wrap .menu {
        width: 1093px;
        margin-right: auto;
        margin-left: auto;

    }

    .btn-wrap {
        display: none;
    }

    .menus-wrap nav .nav-link {
        width: 262px;
        font-size: 17px;
    }

    /*.menus-wrap nav .nav-link:first-child{*/
    /*margin-left: -10px;*/
    /*}*/
    /*.menus-wrap nav .nav-link:last-child{*/
    /*margin-right: -10px;*/
    /*}*/

}

@media only screen and (max-width: 1400px) {
    .feedback .wrap {
        width: 1083px;
        margin-right: auto;
        margin-left: auto;
    }

    .feedback .item .about .name {
        font-size: 34px;
        font-weight: 300;
        line-height: 70px;
    }

    .feedback .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }

    .feedback .item .about {
        padding-left: 50px;
    }

    .feedback .item .about p {
        font-size: 15px;
        line-height: 22px;
    }

    .feedback .owl-carousel .owl-item img {

        max-height: 600px;
    }
}

@media only screen and (max-width: 1350px) {
    .workers .item p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1200px) {
    .slider h1 {
        font-size: 65px;
    }

    .slider h2 {
        font-size: 45px;
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 1140px) {
    .menus-wrap .menu > div {
        flex-direction: column;
    }
    .item-shop {
        justify-content: center;
    }
    .select-menu .calendar .day > div.active {
        justify-content: center;
    }
    .menus-wrap .menu {
        width: 600px;
        flex-wrap: wrap;
    }

    .menus-wrap nav .nav-tabs {
        width: 600px;
        margin-bottom: 40px;
    }

    .menus-wrap .menu .content {

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 36px;
        padding-bottom: 40px;
        width: 524px;
        margin: auto;
    }

    .menus-wrap nav .nav-link {
        margin-bottom: 15px;
    }

    .menus-wrap .menu .content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 36px;
        padding-bottom: 40px;
        -webkit-flex-shrink: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        flex-shrink: 0;
        width: 524px;
        max-width: 100%;
        margin: auto;
    }

    .select-menu .content-calendar {
        padding-left: 20px;
        padding-right: 20px;
        width: 524px;
        max-width: 100%;
    }

    /*.menus-wrap .menu .content .price{*/
    /*display: none;*/
    /*}*/
    .menus-wrap .menu .content-calendar .price {
        display: flex;
    }

    .menus-wrap nav .nav-link:first-child {
        margin-left: 7.5px;
    }

    .menus-wrap nav .nav-link:last-child {
        margin-right: 7.5px;
    }

    .select-menu .calendar .day > div > div {
        margin-bottom: 20px;
        position: relative;
        width: 153px;
        height: 153px;
    }

    .select-menu .content-calendar {
        padding-left: 20px;
        padding-right: 20px;
        width: 524px;
        margin: 0 auto;
    }

    .select-menu .calendar .nav-tabs .nav-item.show .nav-link, .select-menu .calendar .nav-tabs .nav-link.active {
        padding: 4px 4px;
    }

    .select-menu .calendar .nav-tabs .nav-link {
        padding: 5px;
        font-size: 12px;
    }

    .btn-wrap .mid {
        width: 85px;
    }

}

@media only screen and (max-width: 1125px) {
    .menus-wrap .menu {
        width: 600px;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .feedback .wrap {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .feedback .item .img-compare-wrap {

        padding-right: 40px;

    }
}

@media only screen and (max-width: 1100px) {
    header nav.mobile > div > span {
        flex-direction: column;
    }
    header .phone {
        margin-top: 10px;
    }
    .mobile #basket {
        order: 0;
    }
    .slider h1 {
        font-size: 55px;
    }

    .slider h2 {
        font-size: 35px;
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 1065px) {
    .comment-flex {
        margin-left: 0;
    }

    #modalBasket .item .value {
        font-size: 25px;
    }
}

@media only screen and (max-width: 1000px) {
    header nav.mobile > div.header-top > span {
        align-items: baseline;
    }
    .header-top {
        margin-bottom: 10px;
    }
    .header {
        padding: 10px;
    }
    .team.pb-100 {
        padding-bottom: 10px;
    }

    .kitchen .item .row {
        justify-content: center;
    }

    .slider ul {
        left: -14px;
    }
}

@media only screen and (max-width: 1000px) {
    .flex-input-form {
        display: flex;
    }

    .slider .wrap {
        padding-right: 35px;
        padding-left: 35px;
    }

    .slider {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 960px) {
    .order-form {
        margin-left: 5%;
    }
    .heading {
        font-size: 40px;
    }

    .pt-100 {
        padding-top: 60px;
    }

    .pb-100 {
        padding-bottom: 60px;
    }

    .slider {
        padding-top: 50px;
    }

    .flex-oplata {
        flex-direction: column;
        width: auto;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 860px) {
    .order-form {
        margin-left: 0;
    }
}
@media only screen and (max-width: 800px) {
    .shiping-info {
        top: 0;
    }
    .order-form > br {
        display: none;
    }
    .order-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .flex-input-form {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .workers .item .row > div {
        width: 50%;
    }
    header .phone {
        margin-top: 10px;
        order: 1;
    }
    header nav.mobile .modal-contact {
        height: 40px;
        width: 40px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    header nav.mobile .modal-contact img {
        width:20px;
        height:20px;
        top: 0;
        left: 0;
    }
    .header .mobile .logo img {
        height: 40px;
    }
    .feedback .item .img-compare-wrap {

        padding-right: 0px;
        margin-bottom: 20px;
    }

    .feedback .item .about {
        padding-left: 0px;
    }

    .slider .wrap {
        padding-right: 35px;
        padding-left: 35px;
    }

    .flex-input-form {
        justify-content: center;
    }

    .order-form {
        text-align: center;
    }

    .oplata-method {
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {

    .feedback .item .img-compare-wrap {

        padding-right: 0px;
        margin-bottom: 20px;
    }

    .feedback .item .about {
        padding-left: 0px;
    }

    .slider .wrap {
        padding-right: 35px;
        padding-left: 35px;
    }

    .slider {
        padding-top: 50px;
    }

    .slider h1 {
        font-size: 40px;
    }

    .slider .go-to-menu {
        font-size: 13px;
        font-weight: 300;
        padding: 11px 25px 10px;
        margin-bottom: 250px;

    }
}

.mobile-week-text {
    display: none;
    text-align: center;
}
@media only screen and (max-width: 640px) {
    header nav.mobile .modal-contact {
        display: flex;
    }
    header .call-order {
        display: none;
    }
    .social_desktop {
        display: none;
    }

    header nav.mobile .phone {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .select-menu .calendar .week-btn {
        flex-direction: column;
        align-items: center;
    }
    .btn-wrap .mid {
        margin: 15px 0px;
    }
    .arrow_slide.left {
        margin: 0;
    }
    .arrow_slide.right {
        margin: 0;
    }
    .prev-week, .next-week {
        width:50px !important;
    }
    .week-text {
        display: none;
    }
    .select-menu .calendar .week-btn {
        flex-direction: row;
    }
    .mobile-week-text {
        display: block;
    }
    .menus-wrap .calendar .nav-tabs {
        justify-content: center;
    }
}

@media only screen and (max-width: 576px) {
    .item-shop {
        text-align: center;
        flex-direction: column;
    }

    .order-form {
        text-align: center;
    }

    .flex-input-form, .flex-input-form {
        justify-content: center;
    }

    .oplata-method {
        flex-direction: column;
        align-items: center;
    }

    #modalBasket .content-bottom .total-sum {
        padding-right: 0;
    }

    #modalContact .modal-dialog {
        margin: auto;
    }

    header .logo {
        margin: 20px;
    }

    .menus-wrap .menu .image-wrap.mob {
        font-size: 37px;
    }

    .menus-wrap .menu .content-calendar .price {
        margin-bottom: 20px;
    }

    .nav-tabs .nav-item {
        margin-bottom: 10px;
    }

    .menus-wrap .menu .price .add-to-cart a {
        font-size: 12px;
    }

    .menus-wrap .menu .price {
        flex-direction: column;
    }


    .feedback .item .about .name {
        font-size: 24px;
        font-weight: 300;
        line-height: 40px;
    }

    .menus-wrap nav .nav-tabs {
        width: auto;
    }
}

@media only screen and (max-width: 550px) {
    .workers .item .row > div {
        width: 100%;
    }
    input[name="address"] {
        width: 100% !important;
    }
}

@media only screen and (max-width: 500px) {
    .slider .wrap {
        padding-right: 15px;
        padding-left: 15px;
    }

    /*.slider {*/
    /*padding-top: 50px;*/
    /*}*/
    /*.slider h2 {*/
    /*font-size: 39px;*/
    /*}*/
    .slider h1 {
        font-size: 41px;
        margin-bottom: 20px;
    }

    .slider h2 {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .slider ul {
        left: -36px;
    }
    #basket {
        border: none;
        min-width: initial;
    }
    .header .h-bgc {
        display: none;
    }
    #basket .text {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    header nav.mobile > div.header-top > span {
        padding-bottom: 0;
    }
    header .logo {
        margin: 0;
    }
    .call_modal_row {
        flex-direction: column;
        align-items: baseline;
    }
}

@media only screen and (max-width: 400px) {
    .slider .wrap {
        padding-right: 15px;
        padding-left: 15px;
    }

    .slider {
        padding-top: 50px;
    }

    .slider h2 {
        font-size: 31px;
    }

    .slider h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .slider .go-to-menu {
        font-size: 13px;
        font-weight: 300;
        padding: 11px 25px 10px;
        margin-bottom: 250px;

    }

    .slider ul {
        left: -32px;
    }

    .heading {
        font-size: 33px;
    }
}

.time-info {
    width: 220px;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    height: 75px;
    top: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #090a15;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-click {

}

@media only screen and (min-width: 640px) {
    .btn-click:hover {
        background-color: #c4121b !important;
    }
}

.smuzi-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.smuzi-wrap .smuzi {
    flex-basis: 510px;
    height: 525px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    margin-bottom: 70px;
}

.smuzi-wrap .smuzi .number-days {
    padding-left: 52px;
}

.smuzi-wrap .smuzi .number-days .text {

    vertical-align: middle;
    font-size: 15px;
    font-weight: 300;
    margin-right: 13px;

}

.smuzi-wrap .smuzi .number-days label {

    font-family: 'Roboto Slab', serif;
    margin-right: 9px;
    border-radius: 10px !important;
    border: none;
    background-color: white;
    color: black;
    font-weight: 100;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 27px;
    height: 27px;
    padding: 0;
    line-height: 24px;

}

.smuzi-wrap .smuzi .number-days label span {

    vertical-align: middle;
    left: 1px;
    position: relative;

}

.smuzi-wrap .smuzi .number-days label.active {

    background-color: white;
    color: #da2730;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #da2730;

}

.smuzi-wrap .smuzi .price {
    width: 382px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;

}

.smuzi-wrap .smuzi .price > div {

    display: inline-block;
    vertical-align: middle;

}

.smuzi-wrap .smuzi .price .add-to-cart {
    color: white;
    display: inline-block;
    height: 49px;
    border-radius: 10px;
    position: relative;
    top: -8px;
    width: 221px;
}

.smuzi-wrap .smuzi .price .add-to-cart a {
    padding-top: 11px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-left: 43px;
    padding-right: 43px;
}

.smuzi-wrap .smuzi .price .add-to-cart a span {
    vertical-align: middle;
    margin-left: 22px;
}

.smuzi-wrap .smuzi .price .num {
    font-size: 40px;
    font-weight: 300;
    padding-top: 3px;
    position: relative;
    top: -18px;
    left: 6px;
}

.slider.black:before {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.20);
}

.slider.white:before {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.40);
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #2273ad;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.spinner {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #f6f6f6;
    visibility: visible;
}

.hide_page {
    visibility: hidden;
    overflow: hidden;
    position: relative;
}

.partners .owl-theme .owl-dots span {
    background-color: black;
}